{% extends 'main/base.html' %}

{% block content %}

{% load static %}
  <head>
    <link rel="canonical" href="#">

    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }


      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .img-responsive {
          width: auto;
          height: 350px;
          }

</style>

</head>

<body>

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Buff Wild Collective</h1>
        <p class="lead text-muted">Gaze upon our rare priceless nfts and become beholden to them</p>
      </div>
    </div>
  </section>

  <div class="album py-5">
    <div class="container">


      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
        {% for image in images %}
        <div class="col">
          <div class="card shadow-sm">
        {% if image.ownerWallet != "Locked" %}
            <img class="img-responsive" src={{image.img_photo.url}}>
        {% else %}
            <img class="img-responsive" src="{% static 'main/locked_image.jpg' %}">
        {% endif %}
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>

</main>

    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>


  </body>

{% endblock %}
