/* this loads in the Soria font for use */
@font-face {
  font-family: "Soria-Bold";
  src: url("fonts/Soria-Bold.woff") format("woff"),
       url("fonts/Soria-Bold.otf") format("opentype");
}

html {
  /* this keeps elements from shifting on pages that do not have a vertical scroll bar (don't have enough content to need to scroll down). This was mainly affecting my header icons */
  overflow-y: scroll;
  /* this eliminates the horizontal overflow (horizontal scroll bar appearing when it should not be necessary)*/
  overflow-x:hidden
}


.navbar-nav .nav-link {
    color: #FFFFFF !important;
}

.navbar-nav .nav-link:hover {
    color: #E1DA22 !important;
    text-decoration: none;
}

.nav-link {
  padding-top: 15px !important;
}

body {
  background-color: #000000 !important;
  font-family: 'Soria-Bold' !important;
}

.social-icons {
    color: #000000;
}

.telegram-icon {
  color: #FFFFFF;
  background-color: #000000;
}

.link-nav {
  margin-top: 0% !important;
  margin-left: 26% !important;
  margin-right:auto !important;
  margin-bottom: 2px !important;
  white-space: nowrap;
}


.collapse {
  top: 1.3rem;
}

.social-div {
  margin-top: 20px !important;
  padding-top: 2px !important;
  padding-right: 40px !important;
  text-align: center !important;
  font-size: .65rem;
  white-space: nowrap !important;
  position: absolute !important;
}


.nav-item {
  height: 20px;
  font-family: "Soria-Bold";
  font-size: 1.6rem;
  margin-right: 5px;
  text-align: center !important;
}

.navbar-nav>li>a {
  color: #E1DA22 !important;
}

.fa-stack:hover .fa-circle{
   color: #E1DA22 !important;
}

.container-btn:hover .button{
   color: white !important;
   background-color: #E1DA22;
}

.cover-container1 .cover-container {
  margin-bottom: 0;
}

.container1 {
  height: 35px;
  width: 100%;
  max-width:100% !important;
}

.col-4 {
  display: flex;
  justify-content: center;
}

#img_container {
    position:relative;
    display:inline-block;
    text-align:center;
}

.button {
    position:absolute;
    bottom:30px;
    right:100px;
    width:100px;
    height:50px;
}


.navbar-toggler {
  /* This is for positioning the hamburger icon on mobile */
    position: absolute;
    text-align: left !important;
    padding-left: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 12px !important;
}



.navbar {
    left: 0px !important;
    position: relative;
}


  /* position dropdown over image on home?*/
.navburg {
    position: absolute;
    width: 100%;
      /* This is for positioning header link text horizontally */
    margin-left: 160px !important;
}
  /* */
.navbar-collapse.in {
    display: block !important;
}

/* This is for formatting on mobile screens (research more) */
@media only screen and (max-width: 480px) {
img {
width: 100% !important;
}
/* OLD/IRRELEVANT NOW BUT KEEPING FOR NOW-Gave image some padding in desktop screen so it aligns more with text, not necessary on mobile so overriding */
.crew img {
  padding-top: 0px !important;
  /* Do want some on the bottom though for mobile */
  padding-bottom: 10px !important;
}

.social-div {
  padding-right: 0px !important;
}

/* The below is to format the hamburger drop down text, will need to move this to custom.css */
.nav-item {
font-family: "Soria-Bold";
font-size: 1rem !important;
margin-top: 5px !important;
text-align: left !important;
}

.navbar-collapse > ul {
  /* This prevents a click to close hamburger menu from accidentally clicking one of the links */
  margin-top: 20px !important;
  /* This is for preventing the expanded links from shifting right after hamburger menu opneed */
  position: absolute !important;
}
/* This prevents formatting from non mobile creating margin-left for this */
.navburg {
 margin-left: 0px !important;
}

.content {
  margin-left: 8% !important;
}
}


.mouse-wrap{
  display:inline-block;
  position:absolute;
  left:96%;
  top:89%;
  transform:translate(-50%,-50%);
}

.mouse {
  top:0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 2vw;
  animation: nudgeMouse 5.5s ease-out infinite;
}

.mouse:after {
  content: '';
  background-color: #ffffff;
  width: .498vw;
  height: .498vw;
  border-radius: 100%;
  animation: trackBallSlide 5.5s linear infinite;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transform:translateY(1.423vw);
}

.mouse .frame {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.mouse .frame path {
  fill: none;
  stroke: #ffffff;
  stroke-width: 3;
  opacity:0.5;
}

.mouse .mouse-left,
.mouse .mouse-right {
  width: 50%;
  position: absolute;
  z-index: 2;
}

.mouse .mouse-right {
  right: 0;
}

.mouse .Animate-Draw {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 3;
  fill-opacity: 1;
}

.mouse .mouse-left .Animate-Draw {
  animation: DrawLine 5.5s ease-out infinite;
}

.mouse .mouse-right .Animate-Draw {
  animation: DrawLineBack 5.5s ease-out infinite;
}


/*Keyframes*/

@keyframes DrawLine {
  0% {
    stroke-dashOffset: 0;
    stroke-dasharray: 120;
    stroke-opacity:1;
  }
  22% {
    stroke-dashOffset: 0;
    stroke-dasharray: 120;
    stroke-opacity:1;
  }
  38%{
    stroke-dashOffset: 125;
    stroke-dasharray: 120;
    stroke-opacity:1;
  }
  38.1%{
    stroke-dashOffset: 0;
    stroke-dasharray: 120;
    stroke-opacity:0;
  }
  48%{
    stroke-dashOffset: 0;
    stroke-dasharray: 120;
    stroke-opacity:1;
  }
  64%{
    stroke-dashOffset: 125;
    stroke-dasharray: 120;
    stroke-opacity:1;
  }
  64.1%{
    stroke-dashOffset: 0;
    stroke-dasharray: 120;
    stroke-opacity:0;
  }
  74%{
    stroke-dashOffset: 0;
    stroke-dasharray: 120;
    stroke-opacity:1;
  }
  90%{
    stroke-opacity:1;
    stroke-dashOffset: 125;
    stroke-dasharray: 120;
  }
  90.1%{
    stroke-dashOffset: 0;
    stroke-dasharray: 120;
    stroke-opacity:0;
  }
}

@keyframes DrawLineBack {
  0% {
    stroke-dashOffset: 0;
    stroke-dasharray: 120;
    stroke-opacity:1;
  }
  22% {
    stroke-dashOffset: 0;
    stroke-dasharray: 120;
    stroke-opacity:1;
  }
  38%{
    stroke-dashOffset: -114;
    stroke-dasharray: 120;
    stroke-opacity:1;
  }
  38.1%{
    stroke-dashOffset: 0;
    stroke-dasharray: 120;
    stroke-opacity:0;
  }
  48%{
    stroke-dashOffset: 0;
    stroke-dasharray: 120;
    stroke-opacity:1;
  }
  64%{
    stroke-dashOffset: -114;
    stroke-dasharray: 120;
    stroke-opacity:1;
  }
  64.1%{
    stroke-dashOffset: 0;
    stroke-dasharray: 120;
    stroke-opacity:0;
  }
  74%{
    stroke-dashOffset: 0;
    stroke-dasharray: 120;
    stroke-opacity:1;
  }
  90%{
    stroke-opacity:1;
    stroke-dashOffset: -114;
    stroke-dasharray: 120;
  }
  90.1%{
    stroke-dashOffset: 0;
    stroke-dasharray: 120;
    stroke-opacity:0;
  }
}

@keyframes nudgeMouse {
  0% {
    transform: translateY(0) translateX(-50%);
  }
  22% {
    transform: translateY(0px) translateX(-50%);
  }
  38%{
    transform: translateY(0.641vw) translateX(-50%);
  }
  48%{
    transform: translateY(0px) translateX(-50%);
  }
  64%{
    transform: translateY(0.641vw) translateX(-50%);
  }
  74%{
    transform: translateY(0px) translateX(-50%);
  }
  90%{
    transform: translateY(0.641vw) translateX(-50%);
  }
}


/*Text*/

@keyframes nudgeText {
  0% {
    transform: translateY(0) translateX(-50%) scaleY(1);
    opacity:1;
  }
  22% {
    transform: translateY(0px) translateX(-50%)  scaleY(1);
    opacity:1;
  }
  38%{
    transform: translateY(0.356vw) translateX(-50%) scaleY(0.9);
    opacity:0.5;
  }
  48%{
    transform: translateY(0px) translateX(-50%) scaleY(1);
    opacity:1;
  }
  64%{
    transform: translateY(0.356vw) translateX(-50%) scaleY(0.9);
    opacity:0.5;
  }
  74%{
    transform: translateY(0px) translateX(-50%) scaleY(1);
    opacity:1;
  }
  90%{
    transform: translateY(0.356vw) translateX(-50%) scaleY(0.9);
    opacity:0.5;
  }
}

/*Mouse wheel*/
@keyframes trackBallSlide {
  0% {
    transform:translateY(1.423vw)
      scale(1);
    opacity:1;
  }
  22% {
    transform:translateY(1.423vw)
      scale(1);
    opacity:1;
  }
  26%{
    transform:translateY(2.135vw)
      scale(0.9);
    opacity:1;
  }
  34%{
    transform:translateY(3.915vw)
      scale(0.1);
    opacity:0;
  }
  41%{
    transform:translateY(2.135vw)
      scale(0);
    opacity:0.3;
  }
  48%{
    transform:translateY(1.423vw)
      scale(1);
    opacity:1;
  }
  52%{
    transform:translateY(2.135vw)
      scale(0.9);
    opacity:1;
  }
  60%{
    transform:translateY(3.915vw)
      scale(0.1);
    opacity:0;
  }
  67%{
    transform:translateY(2.135vw)
      scale(0);
    opacity:0.3;
  }
  74%{
    transform:translateY(1.423vw)
      scale(1);
    opacity:1;
  }
  78%{
    transform:translateY(2.135vw)
      scale(0.9);
    opacity:1;
  }
  86%{
    transform:translateY(3.915vw)
      scale(0.1);
    opacity:0;
  }
  93%{
    transform:translateY(2.135vw)
      scale(0);
    opacity:0.3;
  }
  100%{
    transform:translateY(1.423vw)
      scale(1);
    opacity:1;
  }
}
