{% extends 'main/base.html' %}

{% block content %}

{% load static %}

<style>
  img {
    border: 6px solid #E1DA22
  }
</style>

  <body class="text-center">
    <div class="cover-container d-flex h-100 p-3 mt-2 mb-0 mx-auto flex-column">
        <div class="pt-1">
        <div class="pb-1">
              <a href="#" class="social-icons" title="Discord"><i class="fa fa-discord"></i></a>
              <a href="#" class="social-icons" title="Telegram"><i class="fa fa-linkedin"></i></a>
              <a href="#" class="social-icons" title="Instagram"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="social-icons" title="Twitter"><i class="fa fa-twitter social-icon pr-lg-0"></i></a>
            </div>
        </div>
      </div>
      <main role="main" class="inner cover">
        <img src="{% static 'main/Buff Barn.png' %}" height=670, width=1100>
        <p class="lead">
          <p>
          <p>

          <a href="#" class="btn-flip" data-back="Back" data-front="Front"></a>

    </div>











        </p>
      </main>

    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>

{% endblock %}
