{% extends 'main/base.html' %}

{% block content %}

{% load static %}

<head>

<meta name="description" content="Home page for the Buff Wild Crew providing information on the different season releases, the DAO, Crew Coin, Wild Tickets, the Road Map, and the Crew Council (Team).">

<style>

  /* Container needed to position the button. Adjust the width as needed */
.container {
  /* These two are to make the container take up full width, and the second one is to make sure it isn't overriden by any max width rules so that it takes up full width on big monitors */
  width: 100% !important;
  max-width: 100% !important;

  margin: auto !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  /* This prevents text from getting pushed down due to image resize on mobile (where screen size is reduced) */
  display: flex !important;
  justify-content: center !important;

}


/* Make the image responsive */
.container img {
  width: 75%;
  height: auto;
  top: 0%;
}

.crew {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.crew img {
  width: 85%;
  height: auto;
  justify-content: center !important;
}

.content {
  text-align:left;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0 !important;
}

body{
  font-family: "Soria-Bold";
}

p {
  color: #FFFFFF;
  font-size: 1.5rem;
  margin-top: 2%;
  margin-right: .75%;
  line-height: 1.25;
}

h1 {
  color: #618A5A;
  font-size: 2.3rem;
  padding-top: 2%;
  line-height: 1;
}

h4 {
  color: #E1DA22;
  text-align: center;
}

hr{
    height: 1px;
    background-color: #E1DA22;
    border: none;
}

.d-flex {
  padding-left: 0px !important;
}

.council {
  text-align: center
}

.teamrow {
  padding-top: 20px !important;
}

.roadmap {
  text-align: center !important;
}

.buffscroll {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.buffscroll img {
  width: 100%;
}

.buffscroll .row {
  padding-bottom: 5px !important;
}

.buffscroll .col-2 {
  width: 20% !important;
}

.hat {
  color: #FFFFFF;
}

.hat:hover {
  color: #E1DA22 !important;
}

.gif img {
  width: 100%;
}

.gif {
  display: flex;
  align-items: center;
}

.percent-col {
  justify-content: center;
  align-items: center;
}

.flex-wrapper {
  justify-content: center;
  align-items: center;
}

text {
  word-break: break-all;
  white-space: normal;
}

#team p {
  padding-top:5px !important;
  text-align: center
}



</style>
</head>

  <body>
    <div class="container containerc" style="max-height: 2000px;">
            <img src="https://buffwild.b-cdn.net/SiteImages/Inside Buff Bar.png" alt="Inside Buff Wild Crew Digital Bar" style="border: .427vw solid #E1DA22">
        <div class="mouse-wrap">
<div class="mouse">
  <div class="frame">
    <svg version="1.1" id="mouse" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
 viewBox="0 0 54.9 91" style="enable-background:new 0 0 54.9 91;" xml:space="preserve">
<path id="XMLID_173_" class="st0"
    linejoin="round" stroke-linecap="round" stroke-miterlimit="10" d="M27.4,3.6L27.4,3.6C14.2,3.6,3.5,14.3,3.5,27.5v36c0,13.2,10.7,23.9,23.9,23.9h0
c13.2,0,23.9-10.7,23.9-23.9v-36C51.4,14.3,40.7,3.6,27.4,3.6z"/>
</svg>

  </div>

  <div class="mouse-left">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
 viewBox="0 0 27.4 91" style="enable-background:new 0 0 27.4 91;" xml:space="preserve">
<path
    linejoin="round" stroke-linecap="round" stroke-miterlimit="10"
    class="Draw-Frame Animate-Draw" d="M27.4,87.5L27.4,87.5c-13.2,0-23.9-10.7-23.9-23.9v-36c0-13.2,10.7-23.9,23.9-23.9h0"/>
</svg>

  </div>

  <div class="mouse-right">
    <svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
 viewBox="0 0 27.4 91" style="enable-background:new 0 0 27.4 91;" xml:space="preserve">
<path
    linejoin="round" stroke-linecap="round" stroke-miterlimit="10"
    class="Draw-Frame Animate-Draw" d="M0,3.6L0,3.6c13.2,0,23.9,10.7,23.9,23.9v36c0,13.2-10.7,23.9-23.9,23.9h0"/>
</svg>
  </div>
</div>
          </div>
          </div>


  <div class="content">
    <section id ="season-1">
   <h1>WELCOME TO SEASON ONE OF THE BUFF WILD CREW (GENESIS)</h1>
   <p class="text-justify">Buff Wild Crew is a generative art NFT collection and community comprised of 10,000 unique individual pieces of art on the Radix DLT Network. Your Buff Wild NFT doubles as your Crew membership card, and will grant access to member-only benefits, the initial benefit is the access to the Buff Barn. Additionally, The Buff Wild NFT collection will serve as the initial stepping stones for the launch of the Buff Wild DAO.
   </p>
   <div class="row">
<div class="col-lg-9 col-md-7 crew">
  <p class="text-justify sold-text">All Buffs are Created Equal, it costs 100 XRD per $BUFF Token for the Genesis collection. Click<a href="{% url 'instructions' %}" class="link-primary" style="color:#E1DA22" title="Instructions Page"> HERE </a> for Reservations. A randomized 150 $BUFFs are being withheld from the initial sale of the Season One Genesis Collection. These BUFFs will be used for marketing, interactive rewards, Wild Ticket prizes, and future utility. The maximum BUFFs allowed for purchase by a single wallet is 200.
  </p>
  </div>
<div class="col-lg-3 col-md-5 percent-col my-auto">
  <div class="flex-wrapper">
    <div class="single-chart">
      <div class="circle-wrapper">
      <svg viewBox="0 0 36 36" class="circular-chart green">
        <path class="circle-bg"
          d="M18 2.0845
            a 15.9155 15.9155 0 0 1 0 31.831
            a 15.9155 15.9155 0 0 1 0 -31.831"
        />
        <path class="circle circle-animation"
          stroke-dasharray="{{sold}}, 100"
          d="M18 2.0845
            a 15.9155 15.9155 0 0 1 0 31.831
            a 15.9155 15.9155 0 0 1 0 -31.831"
        />
        <text x="18" y="17.35" class="percentage text-wrap">
          {{sold}}%
        </text>
        <text x="18" y="23.35" class="percentage text-wrap">
          Reserved
        </text>
      </svg>
      </div>
    </div>
  </div>
  </div>
</div>

<p class="text-justify">There will not be any Buffs set aside for Crew Council or Community Team members, aside from the one unique buff given to each member, which is not part of the Collection, and will never be listed for sale. Crew Council and Community Team members will have to purchase BUFFs just like everyone else.
</p>

   <p class="text-justify">All Buff Wild images will be randomly assigned to you upon purchase. There will be no cherry-picking Buffs of any kind.
   </p>
   <p class="text-justify">The Crew Council will retain a 10% royalty for each Buff Wild NFT traded on the secondary markets.
   </p>

   <div class="row buffscroll justify-content-center">
     <div class="col-2 col-md-2 col-lg-2">
       <div class="row">
         <img src="https://buffwild.b-cdn.net/1 of 1s/Battle Buff Pink.png" alt="Pink Sniper Buffalo smoking a cigar">
       </div>
       <div class="row">
         <img src="https://buffwild.b-cdn.net/1 of 1s/Mono Blue.png" alt="Monochrome Blue see-through Buffalo">
       </div>
     </div>
     <div class="col-2 col-md-2 col-lg-2">
       <div class="row">
         <img src="https://buffwild.b-cdn.net/Buff Wild Collection - Metadata/images/3150.png" alt="Red Striped Zebra Pattern Buffalo with Chieftan headdress and lazer eyes">
       </div>

       <div class="row">
         <img src="https://buffwild.b-cdn.net/Buff Wild Collection - Metadata/images/1165.png" alt="Yellow Zebra Pattern Buffalo with a halo and a Heart Mom tattoo">
       </div>
     </div>
     <div class="col-2 col-md-2 col-lg-2">
       <div class="row">
         <img src="https://buffwild.b-cdn.net/Buff Wild Collection - Metadata/images/1074.png" alt="Bring Pink Striped Buffalo with smoke coming out of nose">
       </div>
       <div class="row">

         <img src="https://buffwild.b-cdn.net/Buff Wild Collection - Metadata/images/1631.png" alt="Green Buffalo wearing a black hat smoking a cigar with a heart mom tattoo">
       </div>
     </div>

     <div class="col-2 col-md-2 col-lg-2">
       <div class="row">
         <img src="https://buffwild.b-cdn.net/Buff Wild Collection - Metadata/images/3024.png" alt="Blind Ginger BuffGinger Buffalo with two birds on his head and an angel wing skull tattoo">
       </div>
       <div class="row">
         <img src="https://buffwild.b-cdn.net/Buff Wild Collection - Metadata/images/3045.png" alt="Static Noise Buffalo with demon horns, a cyborg eye, and sabertooth fang tusks">
       </div>

     </div>
     <div class="col-2 col-md-2 col-lg-2">
       <div class="row">
         <img src="https://buffwild.b-cdn.net/Buff Wild Collection - Metadata/images/3094.png" alt="Superhero Red Zebra Pattern Striped Buffalo with Devil Horns and Devil Halo">
       </div>
       <div class="row">
         <img src="https://buffwild.b-cdn.net/Buff Wild Collection - Metadata/images/1617.png" alt="Beer Guzzler Hat Funnel Wearing White Buffalo in a Rubber Ducky swimming tube">
       </div>
     </div>
   </div>
   <hr/>
   </section>

   <section id ="dao">
     <h1>Buff Wild Crew DAO & $CREW Coin</h1>
     <p class="text-justify">Buff Wild Crew is more than just a .jpg NFT collection. Your Buff Wild NFT will serve as your membership into a strong, driven, and dedicated group of individuals striving to build something amazing for this world.
     </p>
     <p class="text-justify">Upon release of Babylon the Buff Wild DAO will be created and governed by the Buff Wild Crew’s native currency, $CREW Coin. The Buff Wild DAO will serve as a talent incubator. Its mission will be to evaluate and help curate projects, artists, creators, and developers within the RadixDLT Network’s ecosystem. Once Smart Contracts are live, holders of $CREW Coin will be able to vote on proposals submitted to the broader Buff Wild Crew network. The Smart contract  governing the rules and structure of the DAO will be implemented by the Crew Council at the launch of Babylon.
     </p>

  <div class="row">
  <div class="col-md-3 crew">
    <img src="https://buffwild.b-cdn.net/SiteImages/Crew Coin.png" alt="Crew Coin">
    </div>
  <div class="col-md-6">
    <p class="text-justify">Each $BUFF Token holder will be airdropped 100 $CREW coin closer to the release of Babylon. $BUFF token holders can use their $CREW Coins within the entire ecosystem of BWC, including the Buff Barn and future utility purposes. Further details regarding the DAO and $CREW coin will be released upon the completion of the Whitepaper.
    </p>
    </div>
    <div class="col-md-3 gif">
      <img src="https://buffwild.b-cdn.net/SiteImages/BWC.gif" alt="BWC NFT gif">
    </div>
</div>
    <div>
     <h1>$WILD Tickets</h1>
     <p class="text-justify">In addition to $CREW Coin, each $BUFF holder will be periodically airdropped $WILD Tickets, which will serve as an entry to raffles for certain prizes during the sale of the Genesis collection. $WILD Tickets will be redeemable at certain milestones of the Roadmap. The Crew Council wishes to take in community feedback for how the Buff Wild Crew project will progress. Therefore, the Roadmap is subject to change.
     </p>
     </div>
     <hr/>
     </section>


   <section id ="roadmap roadmaprow">
     <div class="row roadmap">
       <h1>ROADMAP</h1>
       <img src="https://buffwild.b-cdn.net/SiteImages/Roadmap Stamp.png" alt="Roadmap">
       <img src="https://buffwild.b-cdn.net/SiteImages/Roadmap 2.0.png" alt="Roadmap">
     </div>
     </section>



     <section id ="team">
       <hr/>
       <h1 class="council">CREW COUNCIL</h1>
       <div class="row teamrow">
         <div class="col-12 col-md-6 col-lg-3">
           <div class="row">
             <h4>ChillyBook</h4>
           </div>
           <div class="row">
             <img src="https://buffwild.b-cdn.net/TeamBuffs/Chillybook Buff.png" alt="Chillybook's Crew Council Member NFT">
           </div>
           <div class="row">
             <p>Chief HR Person. Loves cheese curls.</p>
           </div>
         </div>
         <div class="col-12 col-md-6 col-lg-3">
           <div class="row">
             <h4>Tank</h4>
           </div>
           <div class="row">
             <img src="https://buffwild.b-cdn.net/TeamBuffs/Tank Buff.png" alt="Tank's Crew Council Member NFT">
           </div>
           <div class="row">
             <p>Lead Dev. Hates NFTs.</p>
           </div>
         </div>
         <div class="col-12 col-md-6 col-lg-3">
           <div class="row">
            <h4>Hammy the Hatmaker</h4>
           </div>
           <div class="row">
             <img src="https://buffwild.b-cdn.net/TeamBuffs/Hammy Buff.png" alt="Hammy's Crew Council Member NFT">
           </div>
           <div class="row">
             <p>Lead Designer. Always wearing a <a href="https://milliner.io/" class ="hat" target="_blank">hat</a>. Might be bald.</p>
           </div>
         </div>
         <div class="col-12 col-md-6 col-lg-3">
           <div class="row">
            <h4>Mister Wizard</h4>
           </div>
           <div class="row">
             <img src="https://buffwild.b-cdn.net/TeamBuffs/Mr. Wizard Buff.png" alt="Mister Wizard's Crew Council Member NFT">
           </div>
           <div class="row">
             <p>Chief Marketer. Has a baby buff, but stays out of the kids pool.</p>
           </div>
         </div>
       </div>
       <hr/>
         <h1 class="council">COMMUNITY BUFFS</h1>
         <div class="row teamrow d-flex justify-content-center">
           <div class="col-12 col-md-6 col-lg-3">
             <div class="row">
               <h4>Lord Duke BBJ</h4>
             </div>
             <div class="row">
               <img src="https://buffwild.b-cdn.net/TeamBuffs/BBJ Buff.png" alt="Lord Duke BBJ's Community Member NFT">
             </div>
             <div class="row">
               <p>Bout that time, ay chaps?</p>
             </div>
           </div>
           <div class="col-12 col-md-6 col-lg-3">
             <div class="row">
               <h4>Buff Jesus</h4>
             </div>
             <div class="row">
               <img src="https://buffwild.b-cdn.net/TeamBuffs/Jesus Buff.png" alt="Buff Jesus' Community Member NFT">
             </div>
             <div class="row">
               <p>Right oh!</p>
             </div>
           </div>
           <div class="col-12 col-md-6 col-lg-3">
             <div class="row">
              <h4>Princess Sparkles</h4>
             </div>
             <div class="row">
               <img src="https://buffwild.b-cdn.net/TeamBuffs/Sparkles.png" alt="Sparkles' Community Member NFT">
             </div>
             <div class="row">
               <p>Wine, Champagne, and Charcuterie Please?</p>
             </div>
           </div>
         </div>
       </section>

   </div>

   <script>
     const observer = new IntersectionObserver(entries => {
       entries.forEach(entry => {
         const square = entry.target.querySelector('.circle');

         if (entry.isIntersecting) {
           square.classList.add('circle-animation');
     	  return; // if we added the class, exit the function
         }

         // We're not intersecting, so remove the class!
         square.classList.remove('circle-animation');
       });
     });

     observer.observe(document.querySelector('.circle-wrapper'));
   </script>

</body>


{% endblock %}
