<!doctype html>
{% load static %}
{% load custom_tags %}
<html lang="en">
  <head>
    <link type="text/css" rel="stylesheet" href="{% static "main/magicscroll/magicscroll.css" %}"/>
    <script type="text/javascript" src="magicscroll/magicscroll.js"></script>


</head>
<body>
  <div class="MagicScroll" data-options="mode: carousel; arrows: off">
      <a><img src="{% static 'main/TeamBuffs/Chilly Buff.jpeg' %}" /></a>
      <a><img src="{% static 'main/TeamBuffs/Hammy Buff.png' %}" /></a>
      <a><img src="{% static 'main/TeamBuffs/Chilly Buff.jpeg' %}" /></a>
      <a><img src="{% static 'main/TeamBuffs/Hammy Buff.png' %}" /></a>
      <a><img src="{% static 'main/TeamBuffs/Chilly Buff.jpeg' %}" /></a>
      <a><img src="{% static 'main/TeamBuffs/Hammy Buff.png' %}" /></a>
      <a><img src="{% static 'main/TeamBuffs/Chilly Buff.jpeg' %}" /></a>
      <a><img src="{% static 'main/TeamBuffs/Hammy Buff.png' %}" /></a>
      <a><img src="{% static 'main/TeamBuffs/Chilly Buff.jpeg' %}" /></a>
      <a><img src="{% static 'main/TeamBuffs/Hammy Buff.png' %}" /></a>
  </div>

  <div class="MagicScroll" data-options="step: 0; speed: 4000;">
    <img src="{% static 'main/TeamBuffs/Chilly Buff.jpeg' %}" />
    <img src="{% static 'main/TeamBuffs/Hammy Buff.png' %}" />
</div>



  </body>
</html>
